/* header needs name to the left side, Picture middle, nav on the right */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F8EDE3;
}
header , footer {
    display: flex;
    justify-content: space-between; 
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F8EDE3;
}



header{
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #85586F;
    color: #F8EDE3;

}
header img {
    width: min-content;
    height: min-content;
    box-shadow: 2px 2px #b9849f; 

}
h1 {
    padding: 5px 10px 0  0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

nav a {

    color: #F8EDE3;
    text-decoration: none;
    padding: 20px; 
} 

.lowerNav {
    display: flex;
    background:  #b9849f;
    justify-content: flex-end;
    color: #F8EDE3;
    font-weight: 700;
    padding: 5px;
}



h2 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 150px; 
    flex-basis: 1;
    border-right: #85586F;
}
#aboutHeader {
    height: 15px;
    margin: 0 50px 0 0;
    border-right: 100px #85586F;
}
    
#work {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
#workContent{
    flex-direction: column;
    flex-direction: wrap;
}

.projectOne {
    flex-basis: 6;
  
  }


#contactHeader {
flex-basis: 1;
}
#contact{
    flex-basis: 6;
}
#about p {
   flex-basis: 6;
   width: 300px;
}
#about {
    display: flex;
    flex-wrap: wrap;
   
    
}
h1 {
    background-color: #85586F;
    padding: 5px; 
}

img {
   border-radius: 8px;
    border: 2px  solid #85586F;
    margin: 10px;
    width: 300px;
    height: 200px;
    
}

footer {
   display:flex;
  padding: 20px;
  color:#85586F;
}




address a {
    color:#85586F;
    padding: 25px;
}



